body {
    background-color: #ddd;
    align-content: center;
    align-items: center;

  }

h1{
  margin:auto;
  padding: auto;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;

}

p {
  color: #666666;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}


.logo{
  width: 155px;
  float: left;
}

.header{
    align-items: center;
    color: #666666;
}
.button {
    display: flex;
    background-color: #5487c2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btnmenu {
  float: left;
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0.7;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btnmenu:hover {opacity: 1}
.button:hover {opacity: 1}

.container {
  display: flex;
  align-content: center;
  padding: 10px;

}

.tablesubcontainer{
  margin: 10px;
  align-content: center;
}


.foot{
    position: absolute;
    margin-top: 90%;
    text-align: left;
    font-size: 18px;
    background: #5487c2;
}

.center {
  align-content: center;
}

.customers{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
  }


td, th {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
  }

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #c1cde3;}

th {
    text-align: left;
    background-color: #5386c2;
    color:white;
  }

table{
  border-collapse: collapse;
  align-self: center;
  width: 100%;
}

/*Seleção de arquivos*/
/**/
.hidden-input{
  display: none;
}