{% load static %}

{% for alerta in alertas %}
    <a id="acionador" href="#alerta"></a>

    <div id="alerta" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>

            {% if alertas %}
                <h2>{{ alerta.titulo }}</h2>
                <div class="content"> {{ alerta.mensagem }} </div>
            {% endif %}

            <h2 id="titulo-alerta"></h2>
            <div class="content" id="mensagem-alerta"></div>
        </div>
    </div>

    <!-- Script aciona alerta -->
    <script type="text/javascript">
	    document.getElementById('acionador').click();
    </script>

{% endfor %}