{% extends 'base.html' %}           <!--estender tudo do base.html-->
{% load static %}                   <!--Caso existam arquivos estáticos na página-->

{% block content %}                 <!-- bloco base.html começa aqui -->
    <img class="logo" src="{% static '_img/logo.png'%}">

    <h1>Relatórios</h1>
    <h2>Subtitulo</h2>

    <div class="container">
        <button class="button">Gerar e Enviar Relatórios</button>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="planilha">
            <button type="submit">Fazer Upload</button>
        </form>

        {% if url %}
            <p> Ver informações do Eduqo:
                <a href="{{ url }}">{{url}}</a>
            </p>
        {% endif %}

        <div class="tablesubcontainer">
            <table>
                <thead>
                    <td>Nome</td>
                    <td>Email</td>
                    <td>Status</td>
                    <td>Data</td>
                </thead>

                <tbody>
                {% if relatorios %}
                    {% for relatorio in relatorios %}
                    <tr>
                        <!-- CRIAR UM IF QUE VERIFICA O STATUS -->
                        <td>{{ relatorio.nome_aluno }}</td>
                        <td>{{ relatorio.email }}</td>
                        <td>{{ relatorio.status }}</td>
                        <td>{{ relatorio.data_envio }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="foot"></div>
{% endblock %}              <!-- bloco base.html termina aqui -->